@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*, body {
	font-family: 'Source Sans Pro';
}

body {
	background-color: #F4F1F1 !important;
}

/* Default styles */
.wrapper {
	width: 100%;
	padding-top: 80px;
}

.container {
	max-width: 1174px;
	margin: auto;
	padding: 0 13px;
}

.menu {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 12px 0;

	border-bottom: 1px solid black;
}

.menu--links a {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	text-decoration: none;
	color: #1BD0CB;
	opacity: 0.5;
	transition: .2s;
}


.menu--links a:hover {
	opacity: 1;
}

.menu--links a.active {
	opacity: 1;
	text-decoration-line: underline;
}

.menu--links a + a {
	margin-left: 60px;
}

.menu--lang {
	display: flex;
	align-items: center;
	position: relative;
	width: 100px;
}


.menu--lang p {
	font-size: 15px;
	font-weight: 600;
	color: #1BD0CB;
	text-transform: uppercase;
	margin-left: 7px;
	cursor: pointer;
	transition: .2s;
}

.menu--lang p:hover { text-decoration-line: underline; }

.menu--lang:hover .menu--lang__dropdown {
	display: block;
}

.menu--lang:hover p {
	text-decoration-line: underline;
}

.menu--lang__dropdown {
	display: none;
	position: absolute;
	padding-top: 5px;
	top: 15px;
	left: 20px;
	background-color: #F4F1F1;
	width: 100%;
}

.menu--lang__dropdown span {
	display: block;
	font-size: 15px;
	font-weight: 600;
	color: #1BD0CB;
	text-transform: uppercase;
	margin-left: 7px;
	cursor: pointer;
	transition: .2s;
	padding-top: 5px;
}


/* MAIN PAGE */
